server {
	server_name %(servernames)s;
	listen 80;
	access_log off;

	include       %(nginx_vhost)s;

	location ^~ /.well-known/acme-challenge/ {
		alias %(document_root)s/.well-known/acme-challenge/;
		try_files $uri =404;
	}
}
